<div class="row">
  <div class="col-md-12">
    <h3>
      <%= link_to(@post.headline, @post.source_url, target: '_blank', class: 'comment-link') %> |
			<%= image_tag(@post.source, class: 'img-rounded') %>
		</h3>
		<p class="hidden-xs">
		  <%= image_tag(@post.image, width: '550px', height: '310x') %>
	  </p>
		<% 'commentH' %>

  </div>
</div>
<br/>
<br/>
<br/>
<div class="col-xs-18">
	<%= content_tag :div, '', :class => "fb-comments", "data-href" => request.original_url, "data-numposts" => "5", "data-colorscheme" => "light", "data-order-by" => "time", "data-mobile" => "auto-detected" %>
	
	<% 'commentB' %>
	
</div>
<%= link_to 'الصفحه الرئيسيه', posts_path, class: 'comment-link' %>

