<nav class="navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header navbar-right">
			
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			  <%= link_to image_tag("oxygenarabi.jpg", width: "100px"), root_path %>
				<%= link_to "أكسجين عربي", root_path, class: "navbar-brand hidden-xs" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<li><a href="https://twitter.com/oxygenarabi" target="_blank"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a></li>				
				<li><a href="https://www.facebook.com/oxygenarabi" target="_blank"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a></li>

				<% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %> <b class="caret"></b></a>
						<ul class="dropdown-menu">
						  <li><%= link_to "تحديث معلومات", edit_user_registration_path %></li>
							<li><%= link_to "خروج", destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
					<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->	
	</div><!-- /.container-fluid -->
	<%= render "layouts/tabs" %>
</nav>