	<div class="tab">
		<ul>
			<li><%= link_to "هواء نقي", "/", class: "#{cp(root_path)}" %></li>
			<li><%= link_to "إقتصاد وأعمال", business_path, class: "#{cp(business_path)}" %></li>
			<li><%= link_to "سياسة وقضايا", politics_path, class: "#{cp(politics_path)}" %></li>
			<li><%= link_to "تكنولوجيا وتطبيقات", tech_path, class: "#{cp(tech_path)}" %></li>
			<li><%= link_to "علوم وتقنية", science_path, class: "#{cp(science_path)}" %></li>
			<li><%= link_to "صحة وتغذية", health_path, class: "#{cp(health_path)}" %></li>
		</ul>
	</div>